version: '3.5'
services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8084:8084
    volumes: &volumes
      - .:/app:cached
      - ~/.bash_history:/root/.bash_history
    command: shotgun -o '0.0.0.0' -p 8084

    stdin_open: true
    tty: true
